<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Créditos</title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
	</head>
	<body>
		<h2>Autores</h2>
		<p>David Hidalgo González</p>
		<img src="yo.png"/>
	</body>
</html>